.container {
  max-width: 700px;
}

hr {
  border-color: rgb(172, 172, 172);
  border-style: dashed;
}

.fa-star {
  margin: 0.5em;
  font-size: 24px;
}

span {
  display: inline-block;
  margin: 0.5em;
  text-align: center;
  background-color: #ccc;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
}

.selected {
  background-color: #eee;
  color: #ddd;
  cursor: not-allowed;
}

.used {
  background-color: #aaddaa;
  color: #99bb99;
  cursor: not-allowed;
}

.btn-equal {
  padding: .25em .75em;
}

.btn-again {
  margin-top: 1em;
  padding: .5em 2em;
  background: white;
}
